body {
  font-family: Arial, sans-serif;
  background: #faf7fb;
}

.malla {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  margin-top: 20px;
}

.semestre {
  width: 220px;
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
}

.ramo {
  padding: 10px;
  margin: 5px 0;
  background-color: #f7b6d2; /* rosado */
  cursor: pointer;
  border-radius: 6px;
}

.ramo.aprobado {
  background-color: #8e44ad; /* morado */
  color: white;
  text-decoration: line-through;
}

.ramo.bloqueado {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
